@model ComicBookGallery.Models.ComicBook

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Titulo da página";
    ViewBag.ShowBackBar = true;

    //var seriesTitle = "The Amazing Spider-Man";
    //var issueNumber = 700;
    var description = "<p>Final issue! Witness the final hours of Doctor Octopus' life and his one, last, great act of revenge! Even if Spider-Man survives... <strong>will Peter Parker?</strong></p>";
    var artists = new string[]
    {
        "Script: Dan Slott",
        "Pencils: Humberto Ramos",
        "Inks: Victor Olazaba",
        "Colors: Edgar Delgado",
        "Letters: Chris Eliopoulos"
    };

}


        <p>
            <b>Series Title: </b>
            @Model.SeriesTitle
        </p>
        <p>
            <b>Issue Number: </b>
            @Model.IssueNumber
        </p>
        <p>
            <b>Description: </b>
            @Html.Raw(Model.Description)
        </p>

        @if(Model.Artists.Length > 0) { 
        <p>
            <b>Artists: </b>
            <ul>
            @foreach (var artist in Model.Artists)
            {

                <li>* @artist.Role: @artist.Name</li>

            }
            </ul>
        </p>
        }
